/* Background color for the body */
body {
    background-color: #F4C2C2; /* Baby Plum */
}

/* Set font color and alignment for the heading */
h1 {
    color: #654321; /* Dark Brown */
    text-align: center;
    margin-bottom: 20px;
}

/* Style for the artwork container */
#artwork-container {
    /* Updated display and alignment properties */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

/* Style for each artwork */
.artwork {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 20px; /* Updated margin for spacing */
    width: 300px;
    padding: 10px;
}

/* Style for artwork titles */
.artwork h2 {
    color: pink;
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Style for artist information */
.artwork p {
    color: peru;
    margin-bottom: 10px;
}

/* Style for artwork images */
.artwork img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Hover effect for artwork containers */
.artwork:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease;
}
